API_ID=24620300
API_HASH=9a098f01aa56c836f2e34aee4b7ef963
BOT_TOKEN=6809861752:AAHRq6cHBMXjIwOaupzJ9Eiu02ai4g0SwL8
LOG_GROUP_ID=-1002023182491
MONGO_DB_URI=mongodb+srv://fidixi3663:w7rvlxmDd5lsX9ix@cluster0.0k1an50.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6848223695
STRING_SESSION=BQF3rQwAHoNDkOSigDCKwLTkyCB-KJGa9imoFapd2Lf57oPjBzj02O9c1lZlXZbDTLgLy-sOKmfkSzyXv3saQLlGZKrG4gco8wPBZQoka-njc1sFslZZRTMtOtsg6JYypGmlZFr8TnEDj_uJv1dDIVJ-j2zJICU-ByQwpM5U0DcYssAZVU0WCNt6SVpGAYkFKDfvF3-0AF1jvY7qOr2ZqfpDGkLU3zGONs3MNtYSEsBcHYJBLkQ1fYA8SbIUKarD7Xjt4xs-zoFN_YCCcOK3mkRtMPO3WMXeTzQ96s4nhW_yCxjVAh41wSXDTmnpVmlBYXrF5RTTG1DVzu-0ejEKbXQkCEIC5AAAAAF6l3TOAA
